@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans text-daddj-700;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-semibold text-daddj-900;
  }

  h1 { @apply text-2xl sm:text-4xl lg:text-5xl; }
  h2 { @apply text-xl sm:text-3xl lg:text-4xl; }
  h3 { @apply text-lg sm:text-2xl lg:text-3xl; }
  h4 { @apply text-base sm:text-xl lg:text-2xl; }
  h5 { @apply text-sm sm:text-lg lg:text-xl; }
  h6 { @apply text-xs sm:text-base lg:text-lg; }
  p, li { @apply text-xs sm:text-sm lg:text-base; }

  .daddj-texts p, .daddj-texts li { @apply text-xs sm:text-base lg:text-lg; }

  .daddj-img-link p { @apply text-sm sm:text-base lg:text-lg;  }

  input {
    @apply focus:outline-daddj-100;
  }

  hr {
    @apply border-daddj-700;
  }
}

@layer components {
  .content {
    @apply h-full flex flex-col gap-6 lg:gap-10 overflow-y-scroll p-4 sm:p-6 lg:p-10;
  }

  .daddj-texts {
    @apply flex flex-col gap-2;
  }

  .daddj-img {
    @apply w-8 h-8;
  }

  .daddj-img-link {
    @apply w-fit flex items-center gap-[10px];
  }

  .daddj-btn {
    @apply w-full sm:w-[180px] lg:w-[200px] flex justify-center items-center gap-[10px] rounded-md py-3 lg:py-4 hover-up transition-all duration-300;
  }

  .daddj-link {
    @apply w-fit inline-block font-semibold underline hover-up;
  }

  #daddj-pagination { @apply flex justify-end; }

  #daddj-pagination > * { @apply
    w-8 sm:w-9 lg:w-10
    h-8 sm:h-9 lg:h-10
    flex
    justify-center
    items-center
    border-x
    border-daddj-700
    p-[10px];
  }

  #daddj-pagination > *:not(.dots) { @apply
    border-y-2
    first:border-l-2
    first:rounded-l-md
    last:border-r-2
    last:rounded-r-md
    hover:bg-daddj-700
    hover:text-neutral-50
    hover:cursor-pointer
    transition-colors
    duration-300;
  }

  #daddj-pagination > .active { @apply
    bg-daddj-700
    text-neutral-50
    pointer-events-none;
  }

  #daddj-pagination > .disabled { @apply
    opacity-25
    pointer-events-none;
  }

  .hover-up {
    @apply hover:-translate-y-[1.75px] transition-transform duration-300;
  }
}
